.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.map {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    padding-left: 1em;
    padding-top: 1em;
}

.map iframe{
    padding-top: 150px;
    padding-left: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: 65% !important;
    height: 65% !important;
}

.details {
    padding-top: 130px;
    width: 50%;
}