/* styling general html tags */ 
#blurb {
    font-size: 15px;
}

.num {
    text-align: center;
    padding-right: 20px;
    font-size: 20%;
}

#title {
    font-size: 40px;
}

/* styling map + details container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 30px;
}

.map {
    text-align: left;
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    padding-left: 200px;
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 65% !important;
    height: 75% !important;
    padding-left: 200px;
}

.details {
    text-align: left;
    width: 50%;
    overflow: hidden;
}


/* styling icons */
.icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.thumbs-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.placeholder{
    padding-left: 10px;
    height: 50%;
    width: 50%;
}

.insta-link{
    height: 4%;
    width: 4%;
}

.downvotes{
    transform: rotate(180deg);
    height: 90%;
    width: 50%;
}

.upvotes{
    height: 90%;
    width: 50%;
}

.more-logo{
    float: left;
    height: 6%;
    width: 6%;
    padding-top: 40px;
    padding-left: 40px;
}